ol.rescue-last-seven {
  padding: 0;
  margin: 0 -1rem;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 1rem;

    .rescue-day-count {
      background-color: #888B8D;
      color: white;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 20px;

      &.warn {
        background-color: #6B1671;
      }

      &.alert {
        background-color: #EE0037;
      }
    }

    .rescue-day-date {
      color: #888B8D;
    }
  }
}