$green: #8DC641;
$orange: #F79226;
$red: #E21A50;

.clearfix {
  &:after, &:before {
    clear: both;
    content: " ";
    display: table;
  }
}

.status-bar {

  .status-section {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 33.333%;
    height: 100%;
    color: white;
    opacity: 0.5;
    transition: opacity 500ms, font-size 300ms;
    font-size: 1rem;

    &.good {
      border-radius: 5px 0 0 5px;
      background-color: $green;
    }

    &.fair {
      border-left: 2px solid white;
      border-right: 2px solid white;
      background-color: $orange;
    }

    &.poor {
      border-radius: 0 5px 5px 0;
      background-color: $red;
    }

    span {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
      font-size: 1.4rem;

      span {
        opacity: 1;
      }
    }
  }
}
